* {
  &:focus {
    outline: none;
  }
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family, 'Helvetica', 'sans-serif';
  padding: 0;
  margin: 0;
  // background: linear-gradient(180deg, $bright-blue, $deep-blue);
  background: $deep-blue;
  width: 100%;
  min-height: 100vh;
}
