* {
  &:focus {
    outline: none;
  }
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family, 'Helvetica', 'sans-serif';
  padding: 0;
  margin: 0;
  background: #799eb2;
  width: 100%;
  height: 100%;
}
section {
  min-height: calc(100vh - 90px);
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.accentText {
  color: $red-orange;
  font-size: 14px;
}
