* {
  &:focus {
    outline: none;
  }
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family, 'Helvetica', 'sans-serif';
  padding: 0;
  margin: 0;
  background: $deep-green-gray;
  width: 100%;
}

.accentText {
  color: $red-orange;
  font-size: 16px;
}
