// Base Color
$white: #ffffff;
$black: #0b0b0b;
$gray: #232323;
$light-gray: #eeedf2;
$mid-gray: #6d7271;
$shadow: #c4c2c2;

$pastel-red: #F7987C;
$pastel-green: #89F8EA;
$green-gray-shadow: #526e89;
$deep-pastel-green: #42f4ce;
$deeper-pastel-green: #38f7dd;
$deep-green-gray: #34495e;
$dark-green-gray: #1e242b;
$deep-blue: #0f104f;
$bright-blue: #1BC9EA;
$red: #F92116;
$red-orange: #d16545;

//Font
$primary-font-family: "Avenir";
