.chartContainer {
  width: 70%;
  margin: 0 auto;
  font-family: 'Avenir',
}

.infoBox {
  background-color: #8db7b5;
  width: 300px;
  margin: 50px 20px;
  padding: 30px;
  border-radius: 10px;
}

.infoList {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    font-weight: bold;
    color: $gray;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
