header {
  // text-align: center;
  height: 70px;
  background-color: $pastel-green;
  margin-bottom: 20px;
  padding: 20px 70px;
  color: $deep-green-gray;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logoBox {
  flex: 1;
  .logo {
    margin: 0;
    width: 90px;
    border-bottom: $deep-green-gray 5px solid;
    font-size: 18px;
    font-weight: bold;
  }
}

.dataBox {
  flex: 1;
  text-align: right;
  .dataText {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
  }
}
